.membership-tier {
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid;
  text-align: center;
  transition: max-width 0.5s ease-in-out;
  overflow: hidden;

  .tier-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: center;
    flex: 1;
  }

  .tier-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .tier-badge {
    font-size: 1.25rem;
  }

  .info-button {
    padding: 0.5rem;
    border-radius: 9999px;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1.25rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

